


body{

	background-color: black;

}



.talk{
	
	background-color: blue;

}

.hit{
	

	background-color: red;

}

.showexp{

	background-color: whitesmoke;


}

.winexp{

	background-color: gold ;

}

.takehit{

	background-color: red ;


}

.bullshit{

	background-color: brown ;

}

