


body{

	background-color: black;

}

.col-md-6{

	margin: 10px 10px 10px 10px ;

}



.talk{
	
	background-color: blue;

}

.hit{
	

	background-color: red;

}

.showexp{

	background-color: whitesmoke;


}

.winexp{

	background-color: gold ;

}

.takehit{

	background-color: red ;


}

.bullshit{

	background-color: brown ;

}

